/**
 * JWPPP Style
 */

.jwppp-alert {
	display: block;
	margin: 1rem 0 0;
	padding: 0.6rem;
	background: #F2DEDE;
	border-radius: 0.2rem;
	color: #a94442;	
}

.jwppp-alert a {
	color: #a94442;	
	text-decoration: underline;
}

.custom-skin-url,
.custom-skin-name {
	display: none; 
}

.jw-preview { 
	background-size: 100% auto !important;
}

a.question-mark {
	position:relative; 
	left:1rem;
}

a.attention-mark {
	position:absolute; right:1rem;
}

img.question-mark, img.attention-mark {
	position:relative; 
	top:0.2rem;
}

.jwppp-video-toggles {
	margin-bottom: 0.3rem;
	padding: 0;
}

.jwppp-video-toggles li {
	float: left;
	padding: 0.1rem 0.5rem;
	margin: 0 0 0 0.2rem;
	cursor: pointer;
	border-radius: 0.2rem;
	font-size: 90%;
	background: #ddd;
}

.jwppp-video-toggles li.active {
	color: #fff;
	background: red;
}

.jwppp-toggle-content {
	display: none;
}

.jwppp-toggle-content.active {
	display: block;
}

.select2-results__option {
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 12px !important;
	margin: 0 !important;
}

.select2-results__option .video-img {
	position: absolute;
	top: 5px;
}

.select2-results__option .option-text {
	padding: 0.6rem 0.3rem 0.6rem 5rem 
}