.jw-widget,
.jw-widget.large {
    width: 100%;
    max-width: 1030px;
    margin-top: 1rem;
}

.jw-widget {
    background-color: #0f0f0f;
    color: #fff;
    padding: 20px 30px 30px;
    height: 290px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    text-align: left
}

.jw-widget.medium {
    width: 100%;
    max-width: 800px;
}

.jw-widget.small {
    width: 100%;
    max-width: 450px;
}

.jw-widget .jw-widget-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 15px
}

.jw-widget .jw-widget-content {
    display: inline-flex;
    transition: all .7s ease-in-out;
    position: relative;
    left: 0;
    padding: 0
}

.jw-widget .jw-widget-content .jw-widget-item {
    width: 284px;
    height: 160px;
    margin: 5px;
    box-sizing: border-box;
    background-color: #000;
    cursor: pointer
}

.jw-widget .jw-widget-content .jw-widget-item .jw-content-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    margin: 10px 15px 0 0
}

.jw-widget .jw-widget-content .jw-widget-item .jw-content-image {
    height: 100%;
    overflow: hidden
}

.jw-widget .jw-widget-content .jw-widget-item .jw-content-image img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: opacity .3s ease-in-out
}

.jw-widget .jw-widget-content .jw-widget-item .jw-content-image:hover {
    opacity: .7
}

.jw-widget .jw-widget-content .jw-widget-item:hover .jw-content-title {
    text-decoration: underline
}

.jw-widget .jw-widget-content .jw-play-button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 10;
    -webkit-filter: drop-shadow(-1px -1px 4px #424242);
    filter: drop-shadow(-1px -1px 4px #424242)
}

.jw-widget .jw-widget-content .jw-play-button svg {
    width: 50px;
    height: 50px
}

.jw-widget .jw-widget-content .jw-play-button.fade {
    animation: fade .6s .4s backwards
}

.jw-widget .jw-widget-arrows {
    z-index: 10
}

.jw-widget .jw-widget-arrows .arrow {
    width: 42px;
    height: 100%;
    cursor: pointer;
    top: 58px;
    position: absolute
}

.jw-widget .jw-widget-arrows .arrow .icon {
    width: 12px;
    position: relative;
    top: 12%;
    -webkit-filter: drop-shadow(-1px -1px 9px #424242);
    filter: drop-shadow(-1px -1px 9px #424242)
}

.jw-widget .jw-widget-arrows .arrow.previous {
    left: 0
}

.jw-widget .jw-widget-arrows .arrow.next {
    right: 0
}

.jw-widget .jw-widget-arrows .arrow.next .icon {
    right: -14px
}

.jw-widget .jw-widget-arrows .arrow.previous .icon {
    left: 10px
}

.jw-widget .jw-widget-arrows .arrow.disabled {
    cursor: auto;
    opacity: .5
}

.jw-widget .jw-widget-arrows .arrow.disabled .icon {
    -webkit-filter: none;
    filter: none
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media screen and (max-width:900px) {
    .jw-widget {
        width: 800px
    }
}

@media screen and (max-width:500px) {
    .jw-widget {
        width: 455px
    }
}

.jw-widget.spotlight .jw-widget-content .jw-widget-item {
    transition: all .7s ease-in-out
}

.jw-widget.spotlight .jw-widget-content .jw-widget-item.spotlight {
    width: 355px;
    height: 200px;
    position: relative
}

.jw-widget.spotlight .jw-widget-content .jw-widget-item.spotlight:hover .jw-content-title {
    text-decoration: none
}

.jw-widget.spotlight .jw-widget-content .jw-widget-item.spotlight .jw-content-title {
    position: absolute;
    bottom: 20px;
    padding-left: 20px;
    font-size: 18px;
    max-width: 300px;
    text-shadow: 1px 1px 2px #333;
    color: #fff
}

.jw-shelf {
    margin-top: 20px
}

.jw-widget.shelf {
    height: 240px
}

.jw-widget.shelf.small {
    height: 200px
}

.jw-widget.shelf .jw-widget-content {
    height: 230px
}

.jw-widget.shelf .jw-widget-content .jw-widget-item {
    width: 230px;
    height: 130px;
    margin: 0 10px 0 0
}

.jw-widget.shelf.small .jw-widget-item {
    width: 180px;
    height: 103px
}

.jw-widget.shelf .jw-widget-arrows .arrow {
    top: 54px
}

.jw-widget.shelf .jw-widget-arrows .arrow .icon {
    top: 6%
}

.jw-widget.shelf.small .jw-widget-arrows .arrow .icon {
    top: 2%
}